attrs==22.1.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.4.3
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
packaging==24.0
pluggy==1.4.0
pyparsing==3.1.2
pytest==8.1.1
pytest-cov==4.1.0
requests==2.31.0
soupsieve==2.5
tomli==2.0.1
urllib3==2.2.1
argparse
json
typing
bs4
re
dataclasses
requests_html
aiohttp